<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <title>hikitori</title>
    <link rel="stylesheet" href="/static/css/reset2.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/staff.css') }}">
</head>

<body>

    <div class="header">
        <h1>交易明細</h1>
        <a href="{{url_for('go_to_team')}}" class="button return">返回</a>
        <div class="container">
            <br />
            <div class="recent_record">
                <table>
                    <thead>
                        <tr>
                            <th style="color:black;font-size: 14px">時間戳記</th>
                            <th style="color:black;font-size: 14px">交易對象</th>
                            <th style="color:black;font-size: 14px">交易人</th>
                            <th style="color:black;font-size: 14px">交易數量</th>
                            <th style="color:black;font-size: 14px">總分</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in list %}
                        <tr>
                            <td style="color:black;font-size: 14px">{{item.date}}</td>
                            <td style="color:black;font-size: 14px">{{item.team}}</td>
                            <td style="color:black;font-size: 14px">{{item.target}}</td>
                            <td style="color:black;font-size: 14px">{{item.score}}</td>
                            <td style="color:black;font-size: 14px">{{item.total_score}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</body>

</html>