<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>高大資工112宿營</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login_style.css">
</head>

<body>
    <form class="box" action="/" method="POST">
        <h1>Login</h1>
        <input type="text" name="Account" placeholder="Username">
        <input type="password" name="Password" placeholder="Password">
        <input type="submit"  value="Login">
        <h4 style = "color:red" id = "message"></h4>
    </form>
    <script>
    var url = location.href;
    if(url.indexOf('?') != -1){
        var arr1 = url.split('?');

        var arr2 = arr1[1].split('&');

        var arr3 = arr2[0].split('=')

        var message = arr3[1];
        if(message == "Not_login"){
            message = "尚未登入!";
        }
        else if(message == "Empty"){
            message = "帳號或密碼為空!";
        }
        else if(message == "Password_error"){
            message = "密碼錯誤!";
        }
        else if(message == "No_account"){
            message = "帳號錯誤!";
        }
        else{
            message = "帳號或密碼錯誤!";
        }
        document.getElementById('message').innerHTML = message;
        setTimeout("document.getElementById('message').innerHTML = ''",3000);
    }


    </script>
</body>
</html>