<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login_style.css">
    <style>
    h3 {
        color:white;
    }
    </style>
</head>
    <body>
        <form action = {{ url_for('registration_page') }}  method = 'POST' class="box">
            <h3>名字</h3><input type = "text" name = "Name">
            <h3>帳號</h3><input type = "text" name = "Account">
            <h3>密碼</h3><input type = "text" name = "Password">
            <h3>小隊密碼</h3><input type = "text" name = "Teampassword">
            <input type = "submit" value = "註冊!!">
        </form>
    </body>

</html>