<!DOCTYPE html>
<html>

<head>
       <meta charset="UTF-8" name="viewport" content="width=device-width">
       <title>staff</title>
       <link rel="stylesheet" href="/static/css/reset2.css">
       <link rel="stylesheet" href="/static/css/staff.css">
       <style>

       </style>

</head>

<body>

       <div class="header" >
              <div class="button_group">
                     <a href="#d1" class="button">各組目前積分</a>
                     <a href="#d2" class="button">積分加減</a>
                     <a href="{{url_for('get_record')}}" class="button">交易明細 </a>

              </div>

       </div>
       <div class="wrapper">
              <div id="d1" class="now_scores">
                     <h1>各組積分</h1>
                     <table>
                            <thead >
                                   <tr>
                                          <th>隊名</th>
                                          <th>總計</th>
                                   </tr>
                            </thead>
                            <tbody>
                                   <tr>
                                          <td>{{Dragon}}</td>
                                          <td>{{Dragon_score}}</td>
                                   </tr>
                                   <tr>
                                          <td>{{Phoenix}}</td>
                                          <td>{{Phoenix_score}}</td>
                                   </tr>
                                   <tr>
                                          <td>{{Tiger}}</td>
                                          <td>{{Tiger_score}}</td>
                                   </tr>
                                   <tr>
                                          <td>{{Tortoise}}</td>
                                          <td>{{Tortoise_score}}</td>
                                   </tr>
                            </tbody>
                     </table>


              </div>
              <div class="scores_submit" id="d2">

                     <h1>積分加減</h1>
                     <div class="team green">
                            <span> 青龍</span><input type="text" placeholder="扣分請輸入負號" name="aka"><input type="submit"
                                   value="送出">
                     </div>
                     <div class="team red">
                            <span> 朱雀</span><input type="text" placeholder="扣分請輸入負號" name="shiro"><input type="submit"
                                   value="送出">
                     </div>
                     <div class="team white">
                            <span> 白虎</span><input type="text" placeholder="扣分請輸入負號" name="ao"><input type="submit"
                                   value="送出">
                     </div>
                     <div class="team black">
                            <span> 玄武</span><input type="text" placeholder="扣分請輸入負號" name="kuro"><input type="submit"
                                   value="送出">
                     </div>






              </div>




       </div>
</body>

</html>