<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>白虎隊</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/team_all.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>

<body>
    <div class="header white">
        <div class="team_name">
            <h1>白虎</h1>
        </div>
        <input type="checkbox" id="chk">
        <div class="menu_btn">
            <label for="chk" class="show_menu_btn">
                <i class="fas fa-bars"></i>
            </label>

            <!-- <img src="svg/bars.svg" alt="menu"> -->
        </div>

        <ul class="menu">
            <label for="chk" class="hide_menu_btn">
                <i class="fas fa-times"></i>
            </label>
            <a class="white" href="{{url_for('delete_cookie')}}">登出</a>
            <a class="white" href="{{url_for('QRcode_scan')}}">打開相機</a>

        </ul>
    </div>
    <div class="container">
        <div class="now_score">
            <h1>目前積分</h1>
            <h2>{{score}}</h2>
        </div>
        <div class="recent_record">
            <h1>交易近況</h1>
            <table>
                <thead>
                    <tr>
                        <th>時間戳記</th>
                        <th>交易對象</th>
                        <th>交易數量</th>
                        <th>積分總計</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in list %}
                    <tr>
                        <td>{{item.date}}</td>
                        <td>{{item.target}}</td>
                        <td>{{item.score}}</td>
                        <td>{{item.score}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>